a {
    color: #ff0000;
}
a:visited {
    color: #ff0000;
}
body {
    margin: 0 auto;
    width: 810px;
}
img {
    margin: 0;
    padding: 0;
}
.main-container{
    color: #aa6622;
    background-color: #fafa96; 
    width: 512px;
    margin: 0 auto;
    box-shadow: 0px 0px 0px #252525, 60px 0px 20px -40px #fafaca inset, -60px 0px 20px -40px #d5d571 inset;
}
.sub-container{
    color: #aa6622;
    background-color: #fafa96; 
    width: 256px; 
    height: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 0px #252525, 60px 60px 20px -40px #fafaca inset, -60px -60px 20px -40px #d5d571 inset;
}
.spacer{
    height: 250px;
}
