
.note-body {
    margin: 0;
    color: var(--n-white);
    font-family: 'Source Han Code JP', Meiryo;
    position: relative;
}

.strong-line, hr {
    width: 95%;
    border-color: var(--sub-accent);
    margin-left: 0;
}

.weak-line {
    width: 85%;
    border-color: var(--n-white);
    margin-left: 0;
}

.image-div {
    margin-bottom: 10px;
}

    .image-div img {
        height: 100%;
    }

.note-contents h1 {
    position: relative;
    font-size: calc(var(--font-verybig) * var(--is-sp));
    padding-left: 12px;
    background: linear-gradient(to right, var(--n-black) 75%, var(--dark-black));
}

    .note-contents h1::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0;
        width: 10px;
        height: 100%;
        background-color: var(--main-accent);
    }

.note-contents h2 {
    position: relative;
    font-size: calc(var(--font-big) * var(--is-sp));
    padding-left: 6px;
    background: linear-gradient(to right, var(--n-black), var(--dark-black) 25%);
    margin: 15px 0 5px;
}

    .note-contents h2::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 50%;
        background-color: var(--main-accent);
    }

.note-contents h3 {
    font-size: calc(var(--font-big) * var(--is-sp));
}

p {
    font-size: calc(var(--font-medium) * var(--is-sp));
}


/*
v Quote v
*/
.markdown-body code,
.markdown-body tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  text-decoration: inherit;
}

.markdown-body pre code {
  font-size: 100%;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
/*
Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (https://sindresorhus.com)
*/
