:root {
    --bg-color: #4362bf;
    --light-black: #353535;
    --n-black: #252525;
    --dark-black: #191919;
    --n-white: #fafafa;
    --main-accent: #007cff;
    --sub-accent: #cb4774;
    --feeble-text: #484888;
    --strong-text: #fa6060;
}