body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: initial;
  vertical-align: baseline;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background: none;
}
body.niconico-darkmode-setting-true {
  background-color: #252525;
}

.oshirase-container {
  flex: 1 1 0%;
  overflow: auto;
}

.oshirase-list {
  position: relative;
  height: 100%;
}

.oshirase-item {
  position: relative;
  border-bottom: 1px solid #8888;
  word-break: break-all;
  min-height: 52px;
  padding: 16px;
}

.oshirase-item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.oshirase-title {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 32px 0 50px;
  color: #333;
  font-weight: bolder;
}
.niconico-darkmode-setting-true .oshirase-title {
  color: #f5f5f5;
}

.oshirase-icon {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.oshirase-icon-image {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.oshirase-d {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 52px;
  margin: 8px 32px 0 50px;
  padding: 8px;
  background-color: #8882;
}

.oshirase-d-title {
  font-size: 12px;
  line-height: 16px;
  max-height: 36px;
  display: flex;
  overflow: hidden;
  color: #333;
}
.niconico-darkmode-setting-true .oshirase-d-title {
  color: #f5f5f5;
}

.oshirase-time {
  font-size: 12px;
  line-height: 14px;
  margin: 8px 0 0 50px;
  color: #999;
}
.niconico-darkmode-setting-true .oshirase-time {
  color: #777;
}
